# Ejercicio 1
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados

In [1]:
mat=1887860
print("Jesus Ramon Castro Hernandez", mat)

Jesus Ramon Castro Hernandez 1887860

# Ejercicio 2:
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

Utilizando el loop de while

In [1]:
op=0
while op != 1:
    input()
    a = int(input("Introduce un número:" ))
    b = int(input("Introduce otro número: "))
    print("1.Suma (a+b) 2.Resta (a-b) 3.Multiplicacion (a*b) 4.Division (a/b) 5.Salir")
    sel = int(input("Seleccione una opcion:" ))
    if sel==1:
         print("Resultado-->",a+b)
    elif sel==2:
        print("Resultado-->",a-b)
    elif sel==3:
        print("Resultado-->",a*b)
    elif sel==4:
        print("Resultado-->",a/b)
    elif sel==5:
        print("Adios")
        op=1
    else:
        print("Opcion no valida")

Introduce un número: 70
Introduce otro número:  3

1.Suma (a+b) 2.Resta (a-b) 3.Multiplicacion (a*b) 4.Division (a/b) 5.Salir

Seleccione una opcion: 4

Resultado--> 23.333333333333332

Introduce un número: 0
Introduce otro número:  0

1.Suma (a+b) 2.Resta (a-b) 3.Multiplicacion (a*b) 4.Division (a/b) 5.Salir

Seleccione una opcion: 5

Adios

# Ejercicio 3:
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [9]:
thislist=[]
for i in range(1,11,1):
    thislist.append(i*3)
suma=0
print("El arreglo es-->", thislist)
for i in range(0,10,1):
    suma=suma+thislist[i]
print("La suma del arreglo es-->", suma)

El arreglo es--> [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
La suma del arreglo es--> 165

# Ejercicio 4
Con una función de if else, revisar si un número es par o es impar.
Con una función de if else, revisar si un número es primo o no.

In [20]:
a = int(input("Introduce un número:" ))
if a%2==0:
    print("El numero",a," es par")
else:
    print("El numero",a," es impar")
for i in range(2,a):
    if a%i==0:
        print("El numero",a," no es primo")
        break
else:
    print("El numero",a," es primo")

Introduce un número: 151

El numero 151  es impar
El numero 151  es primo

# Ejercicio 5
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [21]:
def suma(a,b):
    return a+b
def resta(a,b):
    return a-b
def mult(a,b):
    return a*b
def divi(a,b):
    return a/b
op=0
while op != 1:
    input()
    a = int(input("Introduce un número:" ))
    b = int(input("Introduce otro número: "))
    print("1.Suma (a+b) 2.Resta (a-b) 3.Multiplicacion (a*b) 4.Division (a/b) 5.Salir")
    sel = int(input("Seleccione una opcion:" ))
    if sel==1:
         print("Resultado-->",suma(a,b))
    elif sel==2:
        print("Resultado-->",resta(a,b))
    elif sel==3:
        print("Resultado-->",mult(a,b))
    elif sel==4:
        print("Resultado-->",divi(a,b))
    elif sel==5:
        print("Adios")
        op=1
    else:
        print("Opcion no valida")

Introduce un número: 3
Introduce otro número:  4

1.Suma (a+b) 2.Resta (a-b) 3.Multiplicacion (a*b) 4.Division (a/b) 5.Salir

Seleccione una opcion: 1

Resultado--> 7

Introduce un número: 4
Introduce otro número:  5

1.Suma (a+b) 2.Resta (a-b) 3.Multiplicacion (a*b) 4.Division (a/b) 5.Salir

Seleccione una opcion: 4

Resultado--> 0.8

Introduce un número: 5
Introduce otro número:  5

1.Suma (a+b) 2.Resta (a-b) 3.Multiplicacion (a*b) 4.Division (a/b) 5.Salir

Seleccione una opcion: 5

Adios

# Ejercicios con estructuras básicas de python.
## Tuplas
+ Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.
+ Crear una tupla con valores enteros imprimir el primer y ultimo valor.
+ Añadir 3 valores de string a la tupla.
+ Verificar si una variable existe dentro de la tupla.

In [2]:
flotante=3.76
entero=3
boleano=False
compleja=3+6j

In [4]:
print(type(flotante), type(entero), type(boleano), type(compleja))

<class 'float'> <class 'int'> <class 'bool'> <class 'complex'>

In [8]:
a=(2,3,4,6)
print(a[1],",", a[-1])

3 , 6

In [10]:
a=a+("Hola", "soy", "jesus")
a

(2, 3, 4, 6, 'Hola', 'soy', 'jesus')

In [11]:
"Hola" in a, 12 in a

(True, False)

## Listas
+ Crear una lista con 40 elementos aleatorios enteros.
+ Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.
+ Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.
+ Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.
+ Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [14]:
from random import randint
lista=[randint(1, 1000) for i in range(40)]
lista

[191,
 310,
 98,
 469,
 582,
 417,
 687,
 464,
 619,
 169,
 523,
 375,
 804,
 684,
 218,
 867,
 312,
 592,
 596,
 576,
 48,
 727,
 952,
 861,
 285,
 69,
 534,
 495,
 416,
 292,
 264,
 321,
 974,
 295,
 47,
 710,
 496,
 757,
 459,
 954]

In [18]:
def separador(lista):
    lim=len(lista)
    pares=[]
    impares=[]
    for i in range(lim):
        if lista[i]%2==0:
            pares.append(lista[i])
        else:
            impares.append(lista[i])
    return pares,impares
pares, impares=separador(lista)
print("Pares=", pares)
print("Impares=",impares)

Pares= [310, 98, 582, 464, 804, 684, 218, 312, 592, 596, 576, 48, 952, 534, 416, 292, 264, 974, 710, 496, 954]
Impares= [191, 469, 417, 687, 619, 169, 523, 375, 867, 727, 861, 285, 69, 495, 321, 295, 47, 757, 459]

In [19]:
long_pares=len(pares)
long_impares=len(impares)
print("Longitudes:")
print("Pares=", long_pares)
print("Impares=",long_impares)

Longitudes:
Pares= 21
Impares= 19

In [20]:
pares.sort(reverse=True)
impares.sort()
print("Pares=", pares)
print("Impares=",impares)

Pares= [974, 954, 952, 804, 710, 684, 596, 592, 582, 576, 534, 496, 464, 416, 312, 310, 292, 264, 218, 98, 48]
Impares= [47, 69, 169, 191, 285, 295, 321, 375, 417, 459, 469, 495, 523, 619, 687, 727, 757, 861, 867]

In [37]:
import random as rd
list_ejemplo=rd.sample(lista,10)
print(list_ejemplo)

[169, 310, 582, 47, 416, 295, 48, 974, 684, 727]

In [38]:
list_ejemplo.append(1000)
print(list_ejemplo)

[169, 310, 582, 47, 416, 295, 48, 974, 684, 727, 1000]

In [39]:
list_ejemplo.insert(4, "hola")
print(list_ejemplo)

[169, 310, 582, 47, 'hola', 416, 295, 48, 974, 684, 727, 1000]

In [40]:
list_ejemplo.reverse()
print(list_ejemplo)

[1000, 727, 684, 974, 48, 295, 416, 'hola', 47, 582, 310, 169]

In [41]:
list_ejemplo.pop(8)
print(list_ejemplo)

[1000, 727, 684, 974, 48, 295, 416, 'hola', 582, 310, 169]

## Diccionarios
+ Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.
+ Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.
+ Usando el diccionario y un loop, imprimir solo los nombres.
+ Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [42]:
diccionario={"Jesus":21,"Larissa":22,"Sabina":20,"Martha":55,"Fabian":58,"Luis":28}
diccionario

{'Jesus': 21,
 'Larissa': 22,
 'Sabina': 20,
 'Martha': 55,
 'Fabian': 58,
 'Luis': 28}

In [43]:
edades=[i for i in diccionario.values()]
edades.sort()
print(edades)

[20, 21, 22, 28, 55, 58]

In [44]:
for i in diccionario:
    print(i)

Jesus
Larissa
Sabina
Martha
Fabian
Luis

In [45]:
diccionario["Luz"]=79
diccionario["Lucila"]=80
diccionario

{'Jesus': 21,
 'Larissa': 22,
 'Sabina': 20,
 'Martha': 55,
 'Fabian': 58,
 'Luis': 28,
 'Luz': 79,
 'Lucila': 80}

## Sets
+ Crea un set con 100 numeros aleatorios enteros del 1 al 25.
+ Comprueba la longitud de tu set.
+ Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [48]:
set_prueba={randint(1, 25) for i in range(100)}
set_prueba

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25}

In [49]:
print(len(set_prueba))

25

In [52]:
lista_enset=[randint(1, 10) for i in range(5)]
print(lista_enset)
for i in range(5):
    if lista_enset[i] in set_prueba:
        print("El numero ", lista_enset[i],"si esta en el diccionario")
    else:
        print("El numero ", lista_enset[i],"no esta en el diccionario")

[8, 2, 4, 1, 10]
El numero  8 si esta en el diccionario
El numero  2 si esta en el diccionario
El numero  4 si esta en el diccionario
El numero  1 si esta en el diccionario
El numero  10 si esta en el diccionario